#apresentation-touristSpot {
  @include Display(Column, 2rem);

  padding-bottom: 5rem;

  h2 {
    font-size: 3.2rem;
  }
  
  #root {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(48.92%, 0fr));
    gap: 2.4rem;
    row-gap: 1.6rem;
    
    // desktop
    @media screen and (min-width: 1440px) {
      grid-template-columns: repeat(auto-fit, minmax(48.3%, 0fr));
    }

    @media screen and (min-width: 1374px) {
      grid-template-columns: repeat(auto-fit, minmax(48.2%, 1fr));
    }

    @media screen and (max-width: 1305px) {
      grid-template-columns: repeat(auto-fit, minmax(48.9%, 0fr));
    }

    @media screen and (max-width: 1281px) {
      grid-template-columns: repeat(auto-fit, minmax(48.85%, 0fr));
    }

    @media screen and (max-width: 1226px) {
      grid-template-columns: repeat(auto-fit, minmax(48.8%, 0fr));
    }

    @media screen and (max-width: 1109px) {
      grid-template-columns: repeat(auto-fit, minmax(48.75%, 0fr));
    }

    @media screen and (max-width: 1065px) {
      grid-template-columns: repeat(auto-fit, minmax(48.7%, 1fr));
    }
  
    // tablet
    @media screen and (max-width: 1024px) {
      grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
    }
  
    .tourism-spot {
      display: flex;
      align-items: flex-start;

      height: 21.2rem;
  
      box-shadow: 0 .4rem 1.6rem rgba(0, 0, 0, 0.08);
      border-radius: .8rem;

      &:nth-child(4) {
        .description {
          h3 {
            padding-bottom: .8rem
          }
        }
      }

      @media screen and (min-width: 1025px) {
        gap: 2.4rem;
      }

      // tablet
      @media screen and (max-width: 1024px) {
        flex-direction: column;
        align-items: center;

        height: auto;
      }

      .image {
        width: 100%;
        height: 100%;

        @media screen and (min-width: 1025px) {
          max-width: 28.8rem;
        }
  
        img {
          width: 100%;
          height: 100%;

          border-radius: .8rem;

          object-fit: cover;
        }
      }
  
      .description {
        @include Display(Column, 0);

        width: 85%;
        height: 100%;

        @media screen and (max-width: 1024px) {
          align-items: flex-start;

          padding: 2.4rem 0;
          
          width: 24rem;
        }

        @media screen and (min-width: 1025px) {
          padding: 2.4rem 2.4rem 2.4rem 0;
        }

        h3 {
          font-size: 2.4rem;
          line-height: 2.8rem;
          
          padding-bottom: 3.6rem;
        }
  
        p {
          font-size: 1.6rem;
          line-height: 2.4rem;

          overflow-y: auto;

          &::-webkit-scrollbar {
            width: 7px;
          }
          
          &::-webkit-scrollbar-track {
            background: transparent;
          }
      
          &::-webkit-scrollbar-thumb {
            background-color: #dadada;
            border-radius: 20px;
          }

          // tablet
          @media screen and (max-width: 1024px) {
            font-size: 16px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
