#add-touristSpot {
  padding-bottom: 5rem;

  h2 {
    font-size: 32px;

    padding: 4.8rem 0 3.2rem;

    @media screen and (max-width: 680px) {
      padding: 1.6rem 0 3.2rem;
    }
  }
  
  #touristSpot {
    display: flex;
    align-items: flex-start;
    gap: 1.7rem;

    @media screen and (max-width: 680px) {
      flex-direction: column;
      gap: 1.6rem;
    }
  
    .input-image {
      @include Display(Center, 0);
  
      width: 28.8rem;
      height: 21.2rem;
  
      border: .2rem solid $color-border-input;
      border-radius: .8rem;

      @media screen and (max-width: 600px) {
        width: 90%;
      }
  
      img {
        display: none;
  
        width: 100%;
        height: 100%;
  
        &.visibily {
          display: block;
        }
      }
  
      &:focus {
        outline: none;
        
        border: .2rem solid $color-outline-input;
      }
    }
  
    .input-wrapper {
      @include Display(Column, 1.9rem);
  
      padding: .4rem 0 .2rem;

      @media screen and (max-width: 730px) {
        width: 60%;
      }

      @media screen and (max-width: 680px) {
        width: 70%;

        gap: 0;
      }

      @media screen and (max-width: 600px) {
        width: 100%;
      }
  
      input, textarea {
        border: .2rem solid $color-border-input;
        border-radius: .35rem;
  
        resize: none;

        color: $color-font;

        font-size: 1.6rem;
  
        &::placeholder {
          font-family: $font-text;
          font-size: 1.6rem;
          
          line-height: 2.4rem;
        }
  
        &:focus {
          outline: none;
          
          border: .2rem solid $color-outline-input;
        }
      }
  
      input {
        height: 5.4rem;
        width: 32.6rem;

        padding: 1.5rem 0 1.5rem 1.5rem;

        @media screen and (max-width: 730px) {
          width: 100%;
        }

        @media screen and (max-width: 680px) {
          margin-bottom: 1.9rem;
        }
      }
  
      textarea {
        height: 13.114rem;
        width: 41.446rem;

        padding: 3.6rem 0 0 1.9rem;


        @media screen and (max-width: 730px) {
          width: 100%;
        }

        @media screen and (max-width: 680px) {
          margin-bottom: 1rem;
        }
      }
  
      .button-container {
        display: flex;
        justify-content: end;
  
        button {
          font-family: $font-title;
  
          padding: 1.6rem 2rem;
  
          background-color: $color-button;
          color: white;
  
          border: .1rem solid $color-button;
          border-radius: .8rem;
  
          cursor: pointer;
  
          &:hover {
            background-color: #fd3b41;
  
            transition: all 300ms;
          }
  
          &:focus {
            outline: none;
  
            box-shadow: 0 0 0.3rem 0.14rem #fd3b41;
  
            border: .1rem solid white;
          }

          @media screen and (max-width: 680px) {
            width: 100%;
          }
        }
      }
    }
  }
}