* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  // resetando a font padrão do navegador para poder utilizar de forma mais simples o medida rem

  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: $font-text;
  font-weight: 400;
  
  color: $color-font;

  width: 85vw;
  margin: auto;

  @media screen and (min-width: 1550px) {
    width: 80vw;
  }

  @media screen and (min-width: 1250px) {
    width: 85vw;
  }

  @media screen and (max-width: 1175px) {
    width: 90vw;
  }
}

// estilos padrões para tags

h1, h2 {
  color: $color-font-h2;

  font-family: $font-title;
}

h3 {
  color: $color-font-h3;

  font-family: $font-title;
}

// classes que reutilizar pelo projeto

.sr-only {
  position: absolute;
  
  width: 1px;
  height: 1px;

  padding: 0;
  margin: -1px;

  overflow: hidden;

  clip: rect(0, 0, 0,);

  white-space: nowrap;

  border-width: 0;
}