@mixin Display($val, $gap) {
  @if ($val == Flex) {
    display: flex;
    align-items: center;
    gap: $gap;
  }

  @else if ($val == Center) {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $gap;
  }

  @else if ($val == Column) {
    display: flex;
    flex-direction: column;
    gap: $gap;
  }
}