$color-font-h2: #000000;
$color-font-h3:#333333;
$color-font:#858585;
$color-border-input: #E5E5E5;
$color-outline-input:#6200EE;
$color-button:#FF5A5F;

$font-title: 'Poppins', sans-serif;
$font-text: 'Roboto', sans-serif;